@import 'styles/vars';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000093;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: $white;
  border-radius: 15px;
  padding: 20px;
}

.cross {
  margin-left: auto;
  font-size: 30px;
  color: $red;
  font-weight: 900;
  cursor: pointer;
  width: 30px;
  text-align: center;
  height: 30px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}
