@import 'styles/vars';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  > * {
    width: 150px;
  }
}

.month {
  font-size: 24px;
  font-weight: 700;
  color: $dark-blue;
  line-height: 1;
}
