$pink: #ffd1ec;
$light-pink: #d11c85;
$green: #c8ffc8;
$light-green: #10cf1a;
$blue: #cadbff;
$light-blue: #182bd8;

.task {
  cursor: pointer;
  position: relative;
  word-break: break-all;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 12% 3px 7px;
  height: 40px;
  width: 90%;
  background-color: $blue;
  border-radius: 0 7px 7px 0;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: $light-blue;
  }
}

.done {
  background-color: $green;
  &::before {
    background-color: $light-green;
  }
}

.notDone {
  background-color: $pink;
  &::before {
    background-color: $light-pink;
  }
}

.text {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 1000;
}

.menuIcon {
  position: absolute;
  left: 90%;
  top: 5px;
  cursor: pointer;
}
