$dark-blue: #2d2c53;
$blue: #353370;
$light-blue: #5659ff;
$white: #ffffff;
$black: #292929;
$gray: #a5a5a5;
$light-gray: #e6e6e6;
$extra-light-gray: #f0f0f0;
$light-green: #effff2;
$red: #cc2c2c;
$light-yellow: #ffffdb;
