@import 'styles/vars';

.wrapper {
  position: relative;
}

.table {
  margin-top: 10px;
  border-spacing: 0px 0px;
  border-collapse: collapse;
  height: 720px;
  width: 100%;

  thead {
    background-color: $dark-blue;
    height: 60px;
  }

  th {
    color: $white;
    width: 14%;
    &:first-child {
      border-top-left-radius: 20px;
    }
    &:last-child {
      border-top-right-radius: 20px;
    }
  }
}
